Repository markozxuu/markozxuu: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

sort imports
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

sort imports
  .lintstagedrc
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

sort
  .lintstagedrc
Due: none

sort imports
  .lintstagedrc
Due: none

feat: create layout component
  app/layout.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

config: add new plugins and rules
  .lintstagedrc
  app/page.tsx
  app/ui/home/card/Card.tsx
  oxlintrc.json
  package.json
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

config: adjuting the important of an rule
  oxlintrc.json
Due: biome format --write, biome lint --write --no-errors-on-unmatched

configt: first test 2
  app/page.tsx
  app/ui/home/card/Card.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

test format
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: add tailwind dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint --write --no-errors-on-unmatched

feat: create postcss file configuration
  postcss.config.js
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: create tailwindcss configuration file
  tailwind.config.js
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: improving the styles
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: inyect styles globals
  app/layout.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: create globals css file
  app/css/globals.css
Due: biome format --write, biome lint --write --no-errors-on-unmatched

feat: add styles
  app/ui/home/card/Card.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: improvin the styles
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: create metadata for the root page
  app/layout.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: aplpy code
  app/page.tsx
  package.json
  tailwind.config.js
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: create linter workflow
  .github/workflows/linter.yml
Due: none

feat: create formatted workflow
  .github/workflows/formatted.yml
Due: none

feat: improving CI/CD
  .github/workflows/formatted-code.yml
  .github/workflows/linter.yml
Due: none

feat: remove linter worflow
  .github/workflows/linter.yml
Due: none

feat: imprvogin the cid
  .github/workflows/formatted-code.yml
Due: none

refactor: change name the job
  .github/workflows/formatted-code.yml
Due: none

refactor: name
  .github/workflows/formatted-code.yml
Due: none

feature: create lintew rowkfow
  .github/workflows/lint.yml
Due: none

hotfix: set the last version oxlint
  .github/workflows/lint.yml
Due: none

feat: sksksk
  .lintstagedrc
  app/page.tsx
Due: oxlint, biome format --write, biome lint --write --no-errors-on-unmatched

feat: sksksk
  .github/workflows/formatted-code.yml
  .github/workflows/lint.yml
  .lintstagedrc
Due: none

refactor: adjusting file
  .lintstagedrc
Due: none

build(dependencies): update dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint --write --no-errors-on-unmatched

feat:
  .vscode/settings.json
Due: biome format --write, biome lint --write --no-errors-on-unmatched

refactor: remove plugin unecessary
  .vscode/settings.json
Due: biome format --write, biome lint --write --no-errors-on-unmatched

chore(dependencies): add vitest and testing-library for unit testing
  package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint --write --no-errors-on-unmatched

chore: add test script
  package.json
Due: biome format --write, biome lint --write --no-errors-on-unmatched

Path conditions:
  oxlint: any of: **/*.{js,jsx,ts,tsx}
  biome format --write: any of: **/*.{js,jsx,ts,tsx,json,css}
  biome lint --write --no-errors-on-unmatched: any of: **/*.{js,jsx,ts,tsx,json,css}
